/* цвет вторичного текста #2196F3;*/
/* цвет основного текста #757575; */
/* доп. цвет для заоголвков #212121 */
/* цвет лого #000000; */
/* цвет текста героя и кнопок #FFFFFF */
/* неповторимый цвет rgba(255, 255, 255, 0.6); */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #2196f3;
  --title-text-color: #212121;
  --main-text: #757575;
  --accent-color: #ffffff;
  --logo-color: #000000;
  --unique-color: rgba(255, 255, 255, 0.6);
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.list.site-nav-item {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 85px;
  padding-left: 0px;
}

.list.nav {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 305px;
  padding-left: 0px;
}

.site-nav-item.paragraph {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0px;
}

.list .title {
  margin-top: 30px;
  margin-bottom: 0px;
}

.list .subtitle {
  margin-top: 10px;
  margin-bottom: 0px;
}

.list.icon {
  margin-top: 16px;
  margin-bottom: 0px;

  display: flex;
  padding-left: 0px;
  padding-bottom: 94px;
}

.list.icon .item {
  margin-right: 10px;
}

.list.klient {
  display: flex;
  margin-top: 50px;
  margin-bottom: 0px;
  justify-content: center;
}

.list.klient .item {
  margin-right: 30px;
}

.logo-web {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;

  font-size: 26px;
  line-height: 31px;
  letter-spacing: 1.2;
}

.logo-studio {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 1.2;
}

.paragraph {
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.paragraph:not(:last-child) {
  margin-right: 30px;
}

.paragraph:hover,
.paragraph:focus {
  color: var(--primary-text-color);
}

.section.hero {
  text-align: center;
}

.main-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: 000000;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 1.36;
  text-transform: uppercase;
}

.button {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.frame-button {
  background: #2196f3;
  border-radius: 4px;
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-transform: uppercase;
}

.subtitle {
  color: var(--main-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.71;
}

.submain-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 1.17;
}
.submain-title.doing {
  margin-top: 115px;
  margin-bottom: 0px;
}

.submain-title.team {
  margin-top: 95px;
  margin-bottom: 0px;
  padding-top: 94px;
}

.submain-title.customer {
  margin-top: 94px;
  margin-bottom: 0px;
}

.section.color {
  background-color: #f5f4fa;
}

.hidden {
  visibility: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
}
.name-work {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.14;
  text-transform: uppercase;
}

.title-white {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-transform: uppercase;
}

.join-in {
  padding-top: 10px;
  padding-right: 94px;
}

.list.list-join {
  display: flex;
}

.list.list-join .item {
  margin-right: 10px;
}

.mail {
  padding-right: 215px;
  padding-top: 10px;
}

.list-mail {
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
}

.unique {
  color: var(--unique-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.71;
  background-color: #2f303a;
}

.nav-site {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
}

.container {
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;

  width: 1240px;
}

.main-nav {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.advantages {
  display: flex;
  justify-content: center;
}

.list.contact {
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 8px;
  margin-bottom: 88px;
}

.list.advantages .item {
  margin-right: 30px;
}

.list.work {
  display: flex;
  justify-content: center;
}

.list.work .item {
  margin-right: 30px;
}

.list.worker {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.list.worker .item {
  margin-right: 30px;
}

.title-logo-white {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 1.2;
}

.adress {
  color: var(--accent-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.71;
  padding-right: 214px;
}

.button-port {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6;
}

.title-port {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 2;
}

.techno {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1.56;
}

.container.footer {
  display: flex;

  margin-top: 94px;
  margin-bottom: 0px;
  padding-top: 45px;
}

.page-footer {
  background-color: #2f303a;
}

.footer-logo {
  padding-top: 45px;
  padding-bottom: 0px;
}
